<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지도 생성하기</title>
</head>
<body>
<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee2fa2cf713e58eb72f88a643013d3c0"></script>
<script>
    var location_x = [[${store.location_x}]];
    var location_y = [[${store.location_y}]];
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(location_x, location_y),
            level: 3
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    var markerPosition = new kakao.maps.LatLng(location_x, location_y);
    var marker = new kakao.maps.Marker({
       position : markerPosition
    });
    marker.setMap(map);
</script>
</body>
</html>