<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div id="map" style="width:100%;height:350px; position: relative; overflow: hidden;"></div>
</div>

<script layout:fragment="script">
    /*<![CDATA[*/
    let storeList = [[${storeList}]];
    let mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(33.450705, 126.570677),
            level: 3
        };

    let kakao_map = new kakao.maps.Map(mapContainer, mapOption);

    // for(let i = 0; i < storeList.length; i++){
    //     let markerPosition = new kakao.maps.LatLng(storeList[i].lat, storeList[i].lng);
    //     console.log(markerPosition);
    //     var marker = new kakao.maps.Marker({
    //         map: kakao_map,
    //         position : markerPosition,
    //         title:  storeList[i].name
    //     });
    // }
    storeList.forEach(function(item){
            let markerPosition = new kakao.maps.LatLng(storeList[i].lat, storeList[i].lng);
            var marker = new kakao.maps.Marker({
                map: kakao_map,
                position : markerPosition,
                title:  storeList[i].name
            });
    });
    /*]]>*/
</script>
</html>